*.php diff=php

/bench         export-ignore
/build         export-ignore
/Tests         export-ignore
/vendor        export-ignore
/composer.lock export-ignore
/*.dist        export-ignore
/*.yml         export-ignore
