<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.4/phpunit.xsd"
         bootstrap="Tests/autoload.php"
         verbose="true"
         colors="true">

    <testsuites>
        <testsuite name="Koded ObjectSerializer Library Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <!-- code coverage -->
    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>bench</directory>
                <directory>build</directory>
                <directory>vendor</directory>
                <directory>Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>